@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  color: #545454;
  font-weight: 400;
}

h1,
h2,
h3 {
  margin-bottom: 0.6rem;
}

p {
  margin-bottom: 4px;
}

.row {
  max-width: 90%;
  margin: 0 auto;
}
